{% extends "baseadmin.html.twig" %}
{% block title %}Accueil Administrateur{% endblock %}

{% block main %}

    {% for article in articlesActu %}
        {% if loop.index is divisible by(2) %}

            <div class="row presentation">
                <b class="col-4">{{ article.title }}</b>
                <p class="col-4">{{ article.summary }}</p>
            </div>

        {% else %}

            <div class="row presentation">
                <p class="col-4">{{ article.summary }}</p>
                <b class="col-4">{{ article.title }}</b>
            </div>

        {% endif %}

        <a href="{{ path('admin_article_update', {'id':article.id}) }}">Modifier l'article ici</a>
        <a href="{{ path('admin_article_delete', {'id':article.id}) }}">Supprimer l'article ici</a>

    {% endfor %}

    <hr>

    {% for training in articlesTraining %}
        {% if loop.index is divisible by(2) %}

            <div class="row presentation">
                <b class="col-4">{{ training.title }}</b>
                <p class="col-4">{{ training.summary }}</p>
            </div>

        {% else %}

            <div class="row presentation">
                <p class="col-4">{{ training.summary }}</p>
                <b class="col-4">{{ training.title }}</b>
            </div>

        {% endif %}

        <a href="{{ path('admin_article_update', {'id':training.id}) }}">Modifier l'article ici</a>
        <a href="{{ path('admin_article_delete', {'id':training.id}) }}">Supprimer l'article ici</a>

    {% endfor %}

{% endblock %}