{% extends "base.html.twig" %}
{% block title %}Page d'accueil{% endblock %}
{% block main %}

    <section class="row mx-0">
        <div class="block1 col-6">
            <h1 class="box text-center py-2 m-0 text-capitalize font-weight-bold">Dernières Actualités</h1>

            <div class="container p-0">
                <div class="row justify-content-center align-items-center my-3 mx-0">
                    {% for article in articlesActu %}

                        {% if loop.index is divisible by(2) %}

                            <div class="col-10 col-md-4 my-3 my-md-0 img-art">
                                <img src="{{ asset('Asset/IMG/PNG/snow.png') }}" alt="" class="img-fluid">
                            </div>

                            <div class="col-10 col-md-8 my-3 my-md-0 presentation">
                                <b>{{ article.title }}</b>
                                <p>{{ article.summary }}</p>
                                <div class="voirlarticle"><a href="">Voir l'article</a></div>
                            </div>

                        {% else %}

                            <div class="col-10 col-md-8 my-3 my-md-0 presentation">
                                <b>{{ article.title }}</b>
                                <p>{{ article.summary }}</p>
                                <div class="voirlarticle"><a href="">Voir l'article</a></div>
                            </div>

                            <div class="col-10 col-md-4 my-3 my-md-0 img-art">
                                <img src="{{ asset('Asset/IMG/PNG/snow.png') }}" alt="" class="img-fluid">
                            </div>

                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="block2 col-6">
            <h1 class="box text-center py-2 text-capitalize font-weight-bold">Derniers Entrainements</h1>

            <div class="container p-0">
                <div class="row justify-content-center align-items-center my-3 mx-0">
                    {% for training in articlesTraining %}

                        {% if loop.index is divisible by(2) %}

                            <div class="col-10 col-md-4 my-3 my-md-0 img-art">
                                <img src="{{ asset('Asset/IMG/PNG/snow.png') }}" alt="" class="img-fluid">
                            </div>

                            <div class="col-10 col-md-8 my-3 my-md-0 presentation">
                                <b>{{ training.title }}</b>
                                <p>{{ training.summary }}</p>
                                <div class="voirlarticle"><a href="">Voir l'article</a></div>
                            </div>

                        {% else %}

                            <div class="col-10 col-md-8 my-3 my-md-0 presentation">
                                <b>{{ training.title }}</b>
                                <p>{{ training.summary }}</p>
                                <div class="voirlarticle"><a href="">Voir l'article</a></div>
                            </div>

                            <div class="col-10 col-md-4 my-3 my-md-0 img-art">
                                <img src="{{ asset('Asset/IMG/PNG/snow.png') }}" alt="" class="img-fluid">
                            </div>

                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="px-0">
        <h1 class="box text-center py-2 text-capitalize font-weight-bold">Forum</h1>
        <div class="container">
            <nav class="p-3 row justify-content-around">
                <div class="col-6 position-relative">
                    <b>Lien vers la discussion la plus active</b>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quod commodi in ducimus neque...</p>
                    <a href="lien" class="lienforum position-absolute">En voir plus</a>
                </div>
                <div class="col-6 position-relative">
                    <b>Lien vers la deuxième discussion la plus active</b>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quod commodi in ducimus neque...</p>
                    <a href="lien" class="lienforum position-absolute">En voir plus</a>
                </div><br>
                <div class="col-6 position-relative">
                    <b>Lien vers la troisième discussion la plus active</b>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quod commodi in ducimus neque...</p>
                    <a href="lien" class="lienforum position-absolute">En voir plus</a>
                </div>
                <div class="col-6 position-relative">
                    <b>Lien vers la quatrième discussion la plus active</b>
                    <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quod commodi in ducimus neque...</p>
                    <a href="lien" class="lienforum position-absolute">En voir plus</a>
                </div>
            </nav>
        </div>
    </section>

{% endblock %}