{% extends "base.html.twig" %}
{% block title %}mon nouveau titre{% endblock %}
{% block main %}
{% for article in articlesActu %}
    {% if loop.index is divisible by(2) %}

        <div class="row presentation">
            <b class="col-4">{{ article.title }}</b>
            <p class="col-4">{{ article.summary }}</p>
        </div>

    {% else %}

        <div class="row presentation">
            <p class="col-4">{{ article.summary }}</p>
            <b class="col-4">{{ article.title }}</b>
        </div>

    {% endif %}
{% endfor %}

<hr>

{% for training in articlesTraining %}
    {% if loop.index is divisible by(2) %}

        <div class="row presentation">
            <b class="col-4">{{ training.title }}</b>
            <p class="col-4">{{ training.summary }}</p>
        </div>

    {% else %}

        <div class="row presentation">
            <p class="col-4">{{ training.summary }}</p>
            <b class="col-4">{{ training.title }}</b>
        </div>

    {% endif %}
{% endfor %}
{% endblock %}